<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-2">
    <%= form.label :start_city_name %>
    <%= form.text_field :start_city_name, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :station_begin_name %>
    <%= form.text_field :station_begin_name, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :end_city_name %>
    <%= form.text_field :end_city_name, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :station_end_name %>
    <%= form.text_field :station_end_name, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :end_time %>
    <%= form.datetime_field :end_time, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :carrier_name %>
    <%= form.text_field :carrier_name, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :total_cost %>
    <%= form.text_field :total_cost, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.label :currency %>
    <%= form.text_field :currency, class: 'px-3 py-2 rounded shadow' %>
  </div>

  <div class="mb-2">
    <%= form.submit 'Submit', class: 'bg-white border rounded py-2 px-3'%>
  </div>
<% end %>
