<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<%= form_tag trips_url, method: :get do %>
    <%= label_tag :start_city_name, 'From' %>
    <%= text_field_tag :start_city_name, params[:start_city_name],
                       required: true, placeholder: 'From' %>
    <%= label_tag :end_city_name, 'To' %>
    <%= text_field_tag :end_city_name, params[:end_city_name],
                       required: true, placeholder: 'To' %>
    <%= label_tag :start_date, 'Date' %>
    <%= date_field_tag :start_date, params[:start_date],
                       required: true, placeholder: 'Date' %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<%= render @trips.limit(25) %>
